{% extends 'apps/base.html' %} {% load static %} {% block title %}AboutUs
{%endblock title %} {% block banner %}{% endblock banner %} {% block content %}

<div class="container mt-3">
  <br />
  <h2 class="text-center">ABOUT US</h2>
  <br />
  <div class="row container">
    <p class="fs-4 text-center">
      This is website developed by the students at Psg College of Technology. It
      was developed during the year 2022-23.
    </p>
  </div>

  <br /><br />
  <h2 class="text-center">Mission</h2>
  <br />
  <div class="row container">
    <p class="fs-4 text-center">
      To embrace the right technology to delight our Customers. Empowering the
      Programmers community through our unique "Relationship Marketing" Model.
      To anticipate, understand and respond to our Customer's needs by creating
      high-quality products and making them available through innovative and
      convenient channels.
    </p>
  </div>
</div>

{% endblock content %}
