{%extends 'apps/base.html' %}

{%block title%}
SignUp
{%endblock title%}


{%block content%}

      <div class="signUp-container">
            <div class="row justify-content-center">
            <div class="col-md-5">
            <div class="card">
               
               <div class="card-body py-md-4">
               <h2 class="card-title text-center">Create New Account</h2><br>
               <form _lpchecked="1" method="POST" action="" >
                {% csrf_token %}
                <div class="signUp_fields">
                  <div class="labels">
                    <label for="">Name</label><br><br>
                     <label for="">Email</label><br><br>
                     <label for="">Password</label><br><br>
                     <label for="">Confirm password</label>
                     
                </div>
                <div class="values">
                {{form.username}} <br><br>
                {{form.email}} <br><br>
                {{form.password1}} <br><br>
                {{form.password2}} <br><br>
               </div>
            </div>
            <div id="signUp-errors">{{form.errors}}</div>
            <input type="submit" name="Create User" id="submit">

            </form>
            <div class="signUp-BottomContent">
               <a href="{% url 'signIn'%}">Already have an account? SignIn</a>
            </div>
            </div>
            </div>
         </div>
         </div>
         </div>

{%endblock content%}